.row
  .col-xs-12
    = form_for '', html: {id: "search", class: "form"}, url: {action: 'find', a: params[:a]}, remote: true do |f|
      = f.text_field :query, class: "form-control"
.row
  .col-xs-12
    .results
      %h4 Internal Results
      #internal-results
    .results
      %h4 Google Results
      #google-results
